<h2>Написать новый пост</h2>
<p>
	<form action="/new" method="POST" role="form">
	  <textarea name="content" class="form-control" rows="6" style="width: 400px" placeholder="Введите свой текст"></textarea>
	  <br />
	  <button type="submit" class="btn btn-primary">Отправить</button>
	</form>
</p>